.BigSale-container {
  margin: auto;
  background-color: rgb(241, 223, 187);
  padding: 4rem 0;
  /* border: 1px solid black; */
}

.bigsale--title {
  text-align: center;
  margin: 4rem 0;
}

.bigsale--title h1 {
  font-size: 4rem;
  font-weight: 900;
  color: #d62828;
  position: relative;
  display: inline-flex;
  align-items: center;
  gap: 1.5rem;
  padding: 1rem 2rem;
  background: linear-gradient(to right, #ffe259, #ffa751);
  border-radius: 1rem;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15);
  /* animation: popIn 0.6s ease-in-out both; */
}

.bigsale--title img {
  width: 100px;
  height: auto;
  animation: pulse 1.5s infinite;
}

/* @keyframes popIn {
  0% {
    transform: scale(0.9);
    opacity: 0;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
} */

@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.1);
  }
}

.bigsale__card {
  width: 80%;
  margin: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(23rem, 1fr));
  place-items: center;
}

.bigsale__card__item {
  margin-top: 1rem;
  /* background: aqua; */
  width: 220px;
  height: 300px !important;
  flex: 0 0 auto;
  /* overflow: hidden; */
}

@media (max-width: 768px) {
  .bigsale__card {
    margin: auto;
  }

  .bigsale__card__item {
    margin: auto;
  }
}
