/* ------TopSectionMain----- */
.topSectionMain {
  background-color: #d3d3d3;
  padding: 1rem 0;
}

.topSectionMain ul {
  list-style: none;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin: 2rem 0;
  font-size: 1.75rem;
  font-weight: 600;
}

.topSectionMain ul li i {
  margin-right: 2rem;
}

.topSectionMain-icon {
  margin-right: 2rem;
}

.topSectionMain ul li a {
  text-decoration: none;
  color: black;
  margin-right: 2rem;
}

/* ---------- */
/* ------MidSectionMain------ */

/* ------ImgSectionMain----- */
.ProductDetail {
  margin: 5rem 0;
  width: 100%;
  display: flex;
  gap: 1;
}

.imgSectionMain {
  width: 50%;
  display: flex;
  /* overflow: hidden; */
  position: relative;
}

.imgSectionMain img {
  width: 70%;
  height: 500px;
  margin: 0 2rem;
  object-fit: contain;
}

.discount {
  position: absolute;
  top: 2rem;
  right: 3rem;
  color: white;
  background-color: red;
  width: 5rem;
  border-radius: 1rem;
  text-align: center;
}

.imgSectionMain p.active {
  display: none;
}

/*------contentSectionMain-----  */

.contentSectionMain {
  width: 40%;
  margin-left: 10%;
  height: auto;
  margin: auto;
}

.contentSectionMain h1 {
  box-shadow: 2px 2px 0px 0px #888888;
}

.contentSectionMain h4 {
  color: rgb(94, 210, 94);
}

.contentSectionMain h1 {
  color: black;
  margin: auto 0;
  font-weight: bold;
  font-size: clamp(1.8rem, 10vw, 5rem);
}

.price {
  display: flex;
}

.price .Promotional {
  color: green;
}

.price .Promotional,
.price .List {
  margin-top: 3rem;
  font-weight: bold;
  font-size: 3rem;
  margin-left: 3rem;
}

.price p {
  margin-top: 3rem;
  font-weight: 600;
  font-size: 3rem;
  color: #f4c95d;
}

.price .List {
  color: #d3d3d3;
  text-decoration-line: line-through;
}

.availability-stock-status,
.availability-type {
  margin-top: 2rem;
  margin-right: 2rem;
  color: green;
  font-size: 2rem;
  font-weight: 600;
}

.availability p span {
  font-weight: 600;
  margin-right: 3rem;
  color: #f4c95d;
  font-size: 2.5rem;
}

.Quantity {
  display: flex;
  font-size: 1.5rem;
  margin-top: 2rem;
}

.Quantity button {
  width: 2.75rem;
  height: 3rem;
  border: 0.5px solid #d3d3d3;
}

.Quantity__num {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  border-top: 0.5px solid #d3d3d3;
  border-bottom: 0.5px solid #d3d3d3;
  font-weight: 600;
}

.btnAddHeart {
  display: flex;
  cursor: pointer;
}

.btnAdd {
  margin-top: 2rem;
  width: 50%;
  height: 3.5rem;
  border-radius: 5px;
  background-color: rgb(94, 210, 94);
  color: white;
  border: none;
  font-size: 1.75rem;
  font-weight: 600;
}

.btnOutofStock {
  margin-top: 2rem;
  width: 50%;
  height: 3.5rem;
  border-radius: 5px;
  background-color: red;
  color: white;
  border: none;
  font-size: 1.75rem;
  font-weight: 600;
}

.btnAddHeart .ProductDetail__heart {
  display: flex;
  justify-content: center;
  align-items: center;
  /* background-color: #d3d3d3; */
  color: white;
  margin-top: 2rem;
  margin-left: 5rem;
  width: 4rem;
  height: 3rem;
  font-weight: 600;
}

.ProductDetail__heart svg {
  font-size: 2rem;
  color: green;
}

.btnAdd:hover,
.ProductDetail__heart:hover {
  /* background: green; */
  color: #f4c95d;
}

.ProductDetail__heart svg:hover {
  color: #f4c95d;
}

.describe {
  margin-top: 3rem;
  color: #f4c95d;
  font-size: 2.5rem;
  font-weight: 600;
}

.describe-content {
  font-size: 2rem;
  color: #d3d3d3;
}

/* ---------- */

@media (max-width: 672px) {
  .imgSectionMain {
    width: 100%;
    margin: auto;
  }
  .contentSectionMain {
    width: 100%;
  }
}
