.about-container{
  background-color: white;

}

.about {
  font-size: 2rem;
  margin: 2rem 5%;
  display: flex;
  position: relative;
  height: 100rem;
}

.about__image {
  position: absolute;
  top: -8rem;
  left: 0;
}

.about__content {
  position: absolute;
  width: 93rem;
  padding: 2rem;
  right: 0;
}

.about__content--intro {
  font-style: italic;
}

.about__content--ordering > svg {
  color: #37723a;
  margin-right: 1.2rem;
}

.about__content--signature {
  margin-left: 80%;
}

.about__content--signature > span {
  margin-top: 5rem;
}

.highlight-text {
  font-weight: 600;
  color: #37723a;
  font-size: 8rem;
}
