/* -----Popular------------------ */

.Popular {
    margin: 5rem auto;
}

.popular--title {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.popular__Card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(23rem, 1fr));
    place-items: center;
}

.popular__Tittle__viewAll {
    border: 1px solid #ccc;
    width: 10rem;
    height: 4rem;
    border-radius: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    color: #ccc;
    text-decoration: none;
}

.popular__Card__item {
    margin-top: 1.5rem;
    /* background: aqua; */
    width: 220px;
    height: 300px !important;
    flex: 0 0 auto;
}

@media (max-width: 768px) {
    .popular__Card {
        margin: auto;
    }

    .popular__Card__item {
        margin: auto;
    }
}