.pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 5rem;
}

.pagination button {
  width: 3.5rem;
  height: 3.5rem;
  font-weight: 600;
  font-size: 1.6rem;
  margin: 0 1rem;
  border-radius: 0.6rem;
  cursor: pointer;
  transition: all 0.5s ease;
  background-color: transparent;
  color: #bbb;
  border-color: #eee;
}

.pagination button:hover {
  color: white;
  border-color: #0aad0a;
  background-color: #0aad0a;
}

.pagination button.active {
  font-weight: 600;
  border-color: #0aad0a;
  background-color: #0aad0a;
  color: white;
}
