.list-inline-item {
    position: relative;
}

.wishlist-badge {
    position: absolute;
    top: -10px;
    right: -10px;
    background: rgb(3, 82, 13);
    color: white;
    font-size: 14px;
    font-weight: bold;
    border-radius: 50%;
    width: 20px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}


.list-inline-item {
    margin: 0 5px;
    text-decoration: none;
}

/* ---hover cho My_Account-WishList HotLine */

.container .row div a:hover {
    color: green !important;
}

.container .row div .dropdown :hover {
    color: green !important;
}

/* Thanh điều hướng khi nhỏ màn hình */
@media (max-width: 1024px) {

    /* Khi màn hình nhỏ hơn 768px */
    /* Định dnag lại thanh search và btn */
    .input-group input[type="search"] {
        height: 3.5rem !important;
        font-size: 1.25rem;
    }

    .input-group-append button {
        height: 3.5rem !important;
        ;
    }

    /* --------- */

    /* Định dạng lại btn Menu */
    .directory1 .btn {
        height: 3.5rem !important;
        font-weight: bold;
        font-size: 1.25rem;
    }

    /* ---------- */

    /* Định dạng lại form cho nav */
    .nvb {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 80%;
    }

    .navbar-nav {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        margin-top: 2rem;
    }

    .navbar-nav .nav-item {
        width: auto;
        text-align: center;
        /* border: 1px solid black; */
        margin-bottom: 3rem;
    }

    .navbar-nav .nav-item:not(:last-child),
    .navbar-nav .nav-item:last-child {
        border-bottom: 1px solid #ccc;
        width: 50%;
    }

    .nvb ul li a:hover {
        color: green !important;
    }

    /* ---------- */
}

/* ---------- */

/* Màn hình lớn */
@media (min-width: 1024px) {

    /* Áp dụng cho màn hình lớn */
    /* Dinh dang lai thanh search và btn*/
    .input-group input[type="search"],
    .input-group button {
        height: 5rem !important;
        /* width: 20rem; */
        font-size: 1.5rem;
        background-color: #ddd;
    }

    .input-group button {
        width: 5rem !important;
    }

    /* ---------- */

    /* Căn chữ và icon ngang hàng */
    .navbar-nav .nav-item a {
        display: flex;
        align-items: center;
        gap: 5px;
    }

    .midnav {
        background-color: #fafafa;
        width: 100% !important;

    }

    .navbottom {
        margin: auto;
    }

    /* ---------- */

    /* Dinh dang lai nut va dropdown*/
    .directory2 .btn {
        background-color: #0aad0a;
        width: 23rem;
        height: 5rem;
        color: white;
        font-weight: bold;
        font-size: 1.5rem;
        border: 2px solid #198754;
        border-radius: 2rem;
    }

    .directory2 .btn:hover {
        background-color: green;
        color: white;
    }

    .directory2 .dropdown-menu {
        margin-top: 3.75rem;
        height: 35rem;
        flex-direction: column;
        justify-content: space-between !important;
        background-color: #ddd;
        display: none !important;
        /* ẩn mặc định */
    }

    .directory2 .dropdown-menu.show {
        display: flex !important;
        /* chỉ hiện khi có class show */
    }

    .directory2 .dropdown-menu .dropdown-item {
        /* background-color: #0aad0a; */
        height: 4rem;
        margin-top: 1rem;
        font-weight: 550;
        font-size: 1.75rem;
    }

    .navbar .dropdown-menu {
        border-radius: 1rem;
        width: 25rem;
        font-size: 1.5rem;
        box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
    }

    .nvb ul li a:hover {
        color: green !important;
    }

    /* ---------- */

    .navbar {
        position: fixed;
        top: 0;
        z-index: 1000;
        background-color: white;
        box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    }
}