@media (max-width: 992px) {
  /* Khi màn hình nhỏ hơn 768px */
  /* Định dnag lại thanh search và btn */
  .input-group input[type="search"] {
    height: 3.5rem !important;
    font-size: 1.25rem;
  }

  .input-group-append button {
    height: 3.5rem !important;
  }

  /* Định dạng lại btn Menu */
  .directory1 .btn {
    height: 3.5rem !important;
    font-weight: bold;
    font-size: 1.25rem;
  }
  /* ---------- */
  /* Định dạng lại form cho nav */
  .nvb {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 80%;
    margin: auto;
  }

  .navbar-nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 2rem;
  }

  .navbar-nav .nav-item {
    width: auto;
    text-align: center;
    /* border: 1px solid black; */
    margin-bottom: 3rem;
  }

  .navbar-nav .nav-item:not(:last-child),
  .navbar-nav .nav-item:last-child {
    border-bottom: 1px solid #ccc;
    width: 50%;
  }

  .nvb ul li a:hover {
    color: #f4c95d !important;
  }
  .nvb ul li a {
    /* font-size: 5rem; */
    color: black !important;
  }
}

@media (min-width: 992px) {
  .navbar {
    background-color: #37723a;
    /* background-color: #0aad0a; */
  }
  .nvb {
    margin-left: 17rem;
  }

  /* Dinh dang lai nut va dropdown*/
  .directory2 .btn {
    background-color: #f4c95d;
    width: 23rem;
    height: 4rem;
    /* color: white; */
    color: #37723a;
    font-weight: 780;
    font-size: 1.75rem;
    border: none;
  }

  .directory2 .btn:hover {
    background-color: #37723a;
    color: #f4c95d;
  }

  .directory2 .dropdown-menu {
    margin-top: 2rem !important;
    /* height: auto; */
    width: 25rem;
    flex-direction: column;
    justify-content: space-between !important;
    margin-right: 0 !important;
  }

  /* .directory2 .dropdown-menu.focus {
    color: #f4c95d;
  } */

  .directory2 .dropdown-menu.show {
    display: block;
    border-radius: 0;
    border: 0.2rem solid #f4c95d;
    /* color: #f4c95d !important; */
  }

  .directory2 .dropdown-menu .dropdown-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* background-color: aqua; */
    font-weight: 550;
    font-size: 1.75rem;
    /* margin: 0 !important;
    padding: 0 !important; */
    /* border: 1px solid black !important; */
    width: 100%;
    padding: 1rem;
  }

  .navbar .dropdown-menu {
    border-radius: 1rem;
    /* width: 25rem; */
    font-size: 1.5rem;
    /* box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1); */
  }

  .nvb ul li a:hover {
    color: #f4c95d !important;
  }
  .nvb ul li a {
    font-size: 2rem !important;
  }

  /* ---------- */

  .navbar {
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100%;
    /* background-color: white; */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  }
}

.submenu1 {
  max-height: 0;
  opacity: 0;
  visibility: hidden;
  overflow: hidden;
  transition:
    max-height 1s ease,
    opacity 1s ease,
    visibility 1s ease;
}

.dropdown-item1 {
  font-size: 1.75rem;
}

.dropdown-item1:hover {
  background-color: #f4c95d;
}

.dropdown-submenu1:hover > .submenu1 {
  /* display: block;
  cursor: pointer; */
  max-height: 50rem;
  opacity: 1;
  visibility: visible;
}

.dropdown-submenu {
  font-weight: 550;
  font-size: 1.75rem;
  position: relative;
  cursor: pointer;
}

.dropdown-submenu:hover > .submenu {
  display: block;
  border: 0.2rem solid #f4c95d;
}

.submenu {
  display: none;
  position: absolute;
  top: -50%;
  left: 100%;
  cursor: pointer;
}
