.midnav {
  background-color: white;
  height: 12rem;
  /* padding: 0 5rem; */
}

.list-inline-item {
  position: relative;
}

.wishlist-badge {
  position: absolute;
  top: -10px;
  right: -10px;
  background: #f4c95d;
  color: rgb(3, 82, 13);
  font-size: 14px;
  font-weight: bold;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.list-inline-item {
  /* margin: 0 5px; */

  text-decoration: none;
}

.list-inline-item svg {
  background-color: white;
  color: #37723a;
}

.list-inline-item svg:hover {
  background-color: white;
  color: #f4c95d;
}

.container .row div a:hover {
  color: #f4c95d;
}

.container .row div .dropdown :hover {
  color: #f4c95d !important;
}

@media (max-width: 450px) {
  .navbar-brand img {
    max-width: 13rem;
  }
}

@media (min-width: 992px) {
  .input-group button {
    height: 5rem !important;
    width: 5rem !important;
    font-size: 1.5rem;
    /* background-color: #ddd; */
  }

  .midnav__btn {
    background-color: #37723a;
    color: white;
  }

  .search-dropdown {
    position: absolute;
    background-color: white;
    border: 0.1rem solid #f4c95d;
    width: 100%;
    height: 50vh;
    max-width: 62rem;
    margin-top: 2rem;
    z-index: 1001;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 0 0 8px 8px;
    /* padding: 1rem; */
  }

  .suggest__text {
    margin: 2rem 0;
  }
  .suggest__text-title,
  .suggest-title {
    font-size: 2rem;
    font-weight: 600;
  }

  .suggest-info,
  .suggest__text-info {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
  }

  .product__suggest-card {
    /* margin-left: 0.5rem; */
    color: #f4c95d;
    margin-bottom: 0.5rem;
    cursor: pointer;
  }
  .product__suggest-card:hover {
    color: #0aad0a;
  }

  .category__suggest {
    margin: 5rem 0;
  }

  .category__suggest-card {
    width: 20rem;
    height: 3rem;
    font-weight: 600;
    border: 1px solid #0aad0a;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0.5rem;
    margin-bottom: 0.5rem;
    border-radius: 1rem;
    background-color: #37723a;
    color: #f4c95d;
    cursor: pointer;
  }

  .category__suggest-card:hover {
    background-color: #0aad0a;
  }
}
