
.card-product {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 1rem;
  border: 0.2rem solid rgba(0, 0, 0, 0.098);
  height: 30rem;
  width: 23rem;
  position: relative;
  margin-top: 2rem;
  background-color: white;
}

.card-product:hover {
  border: 0.2rem solid rgba(25, 88, 46, 0.743);
  box-shadow: 0px 10px 25px rgba(0, 0, 0, 0.6);
  transform: translateY(-5px);
}

.card-product__image {
  position: absolute;
  top: 4rem;
}

.card-product__name {
  height: 4.3rem;
  max-width: 19rem;
  text-align: center;
  margin-top: 1.3rem;
  font-weight: 500;
  font-size: 1.7rem;
  color: rgba(0, 0, 0, 0.572);
  position: absolute;
  top: 16rem;
}

.card-product__price {
  position: absolute;
  margin-top: 0.5rem;
  top: 25rem;
  left: 3rem;
  font-size: 1.7rem;
}

.card-product__price > span {
  margin-left: 0.7rem;
  color: rgba(0, 0, 0, 0.451);
  text-decoration: line-through;
}

.card-product__badge {
  position: absolute;
  background-color: #db3030;
  color: white;
  padding: 0.1rem 1rem;
  border-radius: 0.3rem;
  top: 2rem;
  left: 1.2rem;
  font-size: 1.2rem;
  font-weight: 600;
}

.card-product__add-button {
  position: absolute;
  margin-top: 0.5rem;
  top: 24.5rem;
  right: 1.5rem;
  text-decoration: none;
  padding: 0.5rem 0.8rem;
  border-radius: 0.3rem;
  font-size: 1.3rem;
  font-weight: 600;
  color: white;
  background-color: #0aad0a;
}

.card-product__hover {
  display: flex;
  justify-content: center;
  position: absolute;
  top: 1rem;
  left: 16rem;
  z-index: 2;
}

.fa-heart {
  color: rgba(0, 0, 0, 0.5);
  height: 1.2rem;
  padding: 1.2rem;
  border: 0.2rem solid rgba(0, 0, 0, 0.5);
  border-radius: 50%;
  margin: 0 1.2rem;
  /* z-index: 2; */
  background-color: white;
  position: relative;
}

.fa-heart:hover {
  transform: scale(1.1);
  background-color: #0aad0a;
  color: white;
  border: 0.2rem solid #0aad0a;
}
