.Hotproduct {
  /* width: 80%; */
  /* border: 1px solid black; */
  margin: 5rem auto;
  position: relative;
}

.hotproduct__Tittle {
  display: flex;
  justify-content: space-between;
  margin-bottom: 2rem;
}

.hotproduct__Tittle__viewAll {
  border: 1px solid #ccc;
  width: 10rem;
  height: 4rem;
  border-radius: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  color: #ccc;
  text-decoration: none;
}

.hotproduct__Card {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  overflow: hidden;
}

.hotproduct__Card__item {
  width: 45%;
  height: 300px !important;
  flex: 0 0 auto;
  border-radius: 3rem;
  margin: auto;
  position: relative;
}

.hotproduct__Card__item__img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  border-radius: 3rem;
}

.hotproduct__Card__item__title {
  position: absolute;
  bottom: 25%;
  left: 10%;
}

.hotproduct__Card__item__title h4 {
  font-size: 1.5rem;
  color: #0aad0a;
  font-weight: bold;
}

.hotproduct__Card__item__title h1 {
  font-weight: bold;
  font-size: 2.25rem;
  color: rgb(84, 83, 83);
  /* margin-bottom: 2rem; */
}

.hotproduct__Card__item__title p {
  font-size: 1.5rem;
  color: rgb(110, 105, 105);
}

.hotproduct__Card__item__title button {
  font-weight: 700;
  width: 10rem;
  height: 4rem;
  border-radius: 1rem;
  background-color: #ddd;
  color: white;
  text-decoration: none;
  border: none;
}

/* Màn hình lớn */
@media (max-width: 1024px) {
  .hotproduct__Card__item {
    width: 100%;
    height: auto;
  }

  .hotproduct__Card__item__title h1 {
    font-size: 2rem;
  }

  .hotproduct__Card__item__title p {
    font-size: 1.5rem;
  }

  .hotproduct__Card__item__title button {
    width: 10rem;
    height: 4rem;
    font-size: 1.4rem;
  }
}
