.checkout-page {
  background-color: #e1ffef;
  padding: 20px;
  border-radius: 10px;
  margin: 50px auto;
}

.checkout-title {
  color: #006400;
  font-weight: bold;
  font-size: 32px;
}

.checkout-subtitle {
  font-size: 16px;
}

.table-responsive {
  overflow-x: auto;
}

.checkout-table th:not(:first-child),
.checkout-table td:not(:first-child) {
  text-align: center;
  vertical-align: middle; 
}

.checkout-summary {
  text-align: right;
  font-size: 16px;
}

.checkout-summary__label {
  font-weight: bold;
}

.checkout-summary__value {
  color: red;
  font-weight: bold;
}

.table-head tr th {
  text-align: center;
  background: #95d5b2;
  font-size: 16px;
}

.checkout-table {
  background: #ffffff;
}

.checkout-table td {
  font-size: 16px;
}

.checkout-table img {
  margin-right: 10px;
  border-radius: 5px;
}

.checkout-form {
  margin-top: 20px;
}

.checkout-form label {
  font-size: 16px;
  margin-bottom: 5px;
}

.checkout-form input {
  font-size: 16px;
  margin-bottom: 5px;
}

.checkout-instruction {
  font-weight: bold;
  font-size: 16px;
}

.btn-success {
  background-color: #59c559;
  border: none;
  font-size: 20px;
}

.btn-success:hover {
  background-color: #004d00;
}

.my-swal-popup {
  width: 500px !important;
  padding: 30px;
  font-size: 18px;
}

.my-swal-title {
  font-size: 18px;
  font-weight: bold;
}

.my-swal-content {
  font-size: 10px;
}
