.CreateAccount {
    width: 80%;
    margin: 5rem auto;
    /* position: relative; */
    /* margin: 0; */
    padding: 0;
}

.createAccount {
    /* position: absolute; */
    left: 0;

    border: 1px solid black;
    padding: 5rem 15rem;
    background-color: #233a95;
    border-radius: 2rem;
}


.createAccount__title h1 {
    font-size: 3.5rem;
    font-weight: 800;
    color: white;
}

.createAccount__title h2,
.createAccount__title h3 {
    color: #bbb;
}

.createAccount__email__btn {
    background-color: white;
    width: 15rem;
    height: 5rem;
    border-radius: 2rem;

    font-weight: 800;
}