.CreateAccount {
    width: 100%;
    margin: 5rem auto;
    /* position: relative; */
    /* margin: 0; */
    padding: 0;
}

.createAccount {
    position: relative;
    left: 0;
    border: 1px solid #0aad0a;
    padding: 5rem 15rem;
    background-color: #0aad0a;
    border-radius: 1rem;
    display: flex;
}

.createAccount__img{
    position: absolute;
    left: 60%;
    bottom: 0%;
    /* overflow: hidden; */
}

.createAccount__title h1 {
    font-size: 3.5rem;
    font-weight: 800;
    color: white;
}

.createAccount__title h2,
.createAccount__title h3 {
    color: #bbb;
}

.createAccount__email__btn {
    background-color: white;
    width: 15rem;
    height: 5rem;
    border-radius: 2rem;
    border: none;
    font-weight: 800;
}
.createAccount__email__btn:hover{
    background-color: #bbb;
    color: white;
}

@media (max-width: 786px) {
    .createAccount__img img{
        width: 20rem;
        left: 30%;
        bottom: 30%;
    }
}