.wishlist__table-wrapper {
    overflow-x: auto;
}

.wishlist__table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

.wishlist__table th,
.wishlist__table td {
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

.wishlish-table__header {
    background: #95d5b2;
}

.wishlist__table th {
    text-align: center;
}

.wishlist__image {
    width: 50px;
    height: 50px;
    margin-right: 10px;
}

.wishlist__status {
    display: inline-block;
    padding: 5px 10px;
    border-radius: 5px;
    font-size: 12px;
    font-weight: bold;
}


