/* Định dạng chung cho bảng giỏ hàng */
.cart-table {
  margin-top: 20px;
  overflow-x: auto;
  max-height: 450px; 
  overflow-y: auto;
  position: relative;
}

.cart-table__table {
  width: 100%;
  border-collapse: collapse;
  background: #ffffff;
}

.cart-table__header th {
  position: sticky;
  top: 0;
  z-index: 10;
  border-bottom: 2px solid #ccc;
  padding: 8px;
}

.cart-table .cart-table__cell {
  padding: 12px !important;
  font-size: 16px;
  text-align: center;
  border-bottom: 1px solid #37723a;
  background: #37723a;
  color: white;
}

.cart-table__cell img {
  max-width: 50px;
  border-radius: 5px;
}

.cart-table__cell input[type="number"] {
  width: 60px;
  text-align: center;
  border: 1px solid #37723a;
  border-radius: 5px;
  padding: 5px;
}

.cart-table__cell button {
  background: none;
  border: none;
  color: #d62828;
  cursor: pointer;
  font-size: 1rem;
}

.cart-table__cell button:hover {
  text-decoration: underline;
}
