* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  /* border: 1px solid black; */
}

body {
  height: 100vh;
  font-family: "Courier New", Courier, monospace;
  background-color: white;
  overflow: hidden;
}

html {
  /* Để quy đổi 1rem = 10px, nay mai dễ thay đổi toàn bộ trang web */
  font-size: 62.5%;
}
