@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", sans-serif;
  /* border: 1px solid black; */
}

body {
  height: 100vh;
  font-family: "Inter", sans-serif;
  background-color: white;
  overflow: hidden;
  font-size: 1.5rem;
  color: brown !important;
}

html {
  /* Để quy đổi 1rem = 10px, nay mai dễ thay đổi toàn bộ trang web */
  font-size: 62.5%;
}
