/* header */

header {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: auto;
  width: 100%;
  overflow: hidden;
}

.top-header {
  font-size: 15px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-header__left {
  position: relative;
  left: 20px;
}

.top-header__right {
  position: relative;
  right: 20px;
}

.top-header__left a
,.top-header__right a{
  color: black !important;
}

.header-divider {
  width: 100%;
  border: none;
  height: 1px;
  background-color: #ccc;
  margin: 5px 0;
}

.bottom-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
  height: auto;
}

header img {
  width: 200px;
  height: auto;
  margin-right: 100px;
}

.search-box {
  height: 40px;
  width: 500px;
  margin-right: 100px;
  border-radius: 10px;
  padding-left: 20px;
}

.login-icon i {
}

.Wish-List,
.Shopping-Cart,
.login-icon {
  margin-left: 20px;
  text-decoration: none;
  color: black !important;
}

/* nav */

nav {
  height: 50px;
}

.navbar {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%; /* Điều chỉnh chiều rộng */
  margin: auto;
}

.navbar ul {
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  padding: 0;
  width: 100%;
}

.content {
  display: flex;
  flex-direction: column;
  border: 1px solid black;
  margin-top: 15px;
  background: linear-gradient(#006838, #96cf24);;
  border-radius: 10px;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.5s ease-in-out, visibility 0s ease-in-out 0.5s;
  
}

.content a {
  margin-top: 20px;
  color: black !important;
}

.content.show {
  opacity: 1;
  visibility: visible;
  transition: opacity 0.5s ease-in-out;
}

nav .navbar ul li {
  /* margin-right: 50px; */
    font-weight: bold;
    text-align: center;
    padding: 10px 0;
    
}

nav .navbar ul li a {
  text-decoration: none;
  color: black !important;
}

.Delivery,
.Technical-Consultation,
.Announcement {
  /* margin-right: 30px; */
}

.navbar ul li button {
  width: 200px;
  height: 30px;
  font-size: 15px;
  background: linear-gradient(#006838, #96cf24);
  border: none;
  border-radius: 10px;
  margin-right: 70px;
}
